<div>
  <div class="mat-app-background basic-container">

    <mat-toolbar color='warn'>
      <mat-toolbar-row>
        
        <span>Top Quentions</span>
        <span class="example-spacer"></span>
        <button mat-button>Questions</button>
        <label>&nbsp;</label>
        <button mat-button>Tags</button>
        <label>&nbsp;</label>
        <button mat-button>Users</button>
        <label>&nbsp;</label>
        <label>&nbsp;</label>
        <input placeholder="Search...">
        <label>&nbsp;</label>
        <label>&nbsp;</label>
        <label>&nbsp;</label>
        <button>
         <mat-icon aria-hidden="true" class="example-icon" >home</mat-icon>
        </button>
        <!-- <mat-tab label="New">Latest Content</mat-tab> -->
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  
</div>
<div>

</div>